
  body {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
    width: 100vw;
    min-height: 100vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
}


.SearchDIV{
    position: absolute;
    width:100vw;
    top:40vh;

    
}

.SearchDIV form{
    position: absolute;
    width: 100vw;
    height: 4.8vw;

}

.SearchDIV input{
    position:absolute;
    width: 50vw;
    height: 2.5vw;
    font-size: 2vw;
    border: none;
    margin: none;
    outline: none;
    left: 20vw;
    padding:1vw 2vw;
    border-radius: 100vw 100vw 100vw 100vw;
    background-color: rgb(97, 97, 97);
}

.SearchDIV button{
    position:absolute;    
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    border: none;
    margin: none;
    outline: none;
    left: 75vw;
    cursor: pointer;
    border-radius: 50vw 50vw 50vw 50vw;
    background-color: rgb(156, 219, 141);
}

.SearchDIV button:hover{
    position:absolute;    
    width: 4.5vw;
    height: 4.5vw;
    font-size: 2vw;
    border: none;
    margin: none;
    outline: none;
    left: 74.5vw;
    top: -0.5vw;
    cursor: pointer;
    border-radius: 50vw 50vw 50vw 50vw;
    background-color: rgb(156, 219, 141);
    transition: 0.4s ease-in-out;
}


.SearchDIV form button img{

    position: absolute;
    top: 0.2vw;
    width: 4.1vw;
    height:4.1vw;
    left: 0vw;
}

.SearchDIV button img:hover{
    position: absolute;
    top: 0vw;
    width: 4.5vw;
    height:4.5vw;
    left: 0vw;
    transition: 0.4s ease-in-out;
}


/* 
#InputFunction {
	position: absolute;
	overflow: visible;
	width: 25vw;
	height: 2.5vw;
	left: 5vw;
	top: 2vw;
    font-size: 1.5vw;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(97, 97, 97);
    border:none;
    text-align: left;
    margin: 0vw;
    padding: 0vw 2vw;
    outline: none;
    
} */

